<div class="space"></div>

<div class="text">

    <h3>WIKI</h3>

<p>Studio Ghibli, Inc. (株式会社スタジオジブリ Kabushiki-kaisha Sutajio Jiburi), known simply as Ghibli, is a Japanese animation film studio headquartered in Koganei, Tokyo. They were founded by Isao Takahata, Hayao Miyazaki, Toshio Suzuki, and Yasuyoshi Tokuma.</p>

    <p> The company began operations in June 1985 as a subsidiary of Tokuma Shoten Co., Ltd. for the purpose of producing animated films directed by Isao Takahata and Hayao Miyazaki. Initially based in Kichijōji, they moved to Kajino-cho, Koganei in August 1992. In June 1997, the company merged with Tokuma Shoten Co., Ltd. and became Tokuma Shoten Co., Ltd./Studio Ghibli Company (later Studio Ghibli Business Headquarters). In April 2005, Studio Ghibli Co., Ltd. became independent from Tokuma Shoten.</p>
    
    <p> The company's logo features the character Totoro from Hayao Miyazaki's film My Neighbor Totoro. </p>
    
    <p> Several anime features created by Ghibli have won the Animage Anime Grand Prix Award including Castle in the Sky in 1986, My Neighbor Totoro in 1988, and Kiki's Delivery Service in 1989. In 2002, Spirited Away won an Oscar for Best Animated Feature, the first anime film to win an Academy Award.</p>
</div>

    <img src="https://i.pinimg.com/originals/0c/34/44/0c34449f96b6d442a7ef3d1118303d70.jpg" />
