.space {
    width: 100%;
    margin-bottom: 10.5em;
  }

 .text{
     font-size: 1.2em;
     padding: 3em;
 }

 h3{
     text-align: center;
     padding-bottom: 1EM;
 }

 p{
     padding-bottom: 1em;
 }

 img{
     width: 60vw;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 1em;
     margin-top: -2em;

 }