@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Otomanopee One', sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url("https://steamuserimages-a.akamaihd.net/ugc/1758073114103109159/20B042641BF6359FEE0D9E96CE7D62205EB179A3/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }